TZ=Asia/Shanghai
DATA_DIR=./data

POSTGRES_USER=postgres
POSTGRES_PASSWORD=change_me
POSTGRES_DB=postgres
POSTGRES_PORT=5432

REDIS_PASSWORD=change_me
REDIS_PORT=6379

NATS_CLIENT_PORT=4222
NATS_MONITOR_PORT=8222

MINIO_ROOT_USER=minioadmin
MINIO_ROOT_PASSWORD=change_me
MINIO_API_PORT=9000
MINIO_CONSOLE_PORT=9001
